<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <label class="title">{{ this.cmsType | titlecase }}</label>
          </div>
          <form [formGroup]="cmsForm" (ngSubmit)="updateCmsData()">
            <ckeditor
              [data]="cmsContent"
              formControlName="cmsContent"
              [config]="{ height: [['500px']] }"
              id="ckeditor"
            ></ckeditor>
            <div class="update-button">
              <button class="btn btn-success m-3 " type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
